Source: jrds
Section: net
Priority: optional
Maintainer: Olivier Le Cam <olivier.lecam@crdp.ac-versailles.fr>
Build-Depends: debhelper (>= 7.0.50~)
Build-Depends-Indep: javahelper, default-jre-headless, openjdk-6-jdk, ant, ivy
Standards-Version: 3.9.2
Homepage: http://www.jrds.fr
#Vcs-Git: git://git.debian.org/collab-maint/jrds.git
#Vcs-Browser: http://git.debian.org/?p=collab-maxint/jrds.git;a=summary

Package: jrds-common
Architecture: all
Depends: ${misc:Depends}, adduser, default-jre-headless | java6-runtime-headless
Recommends: ${java:Recommends}
Description: Jrds is performance collector, much like cacti or munins
 Jrds is performance collector, much like cacti or munins. But it intends to be more
 easy to use and able to collect a high number of machines in a very short time. It's
 fully written in java and avoid call external process to increase performances. It
 uses RRD4J, a clone of rrdtool written in java.

Package: jrds-jetty
Architecture: all
Depends: jrds-common (= ${binary:Version})
Description: Jrds is performance collector, much like cacti or munins - Jetty integration
 Jrds is performance collector, much like cacti or munins. But it intends to be more
 easy to use and able to collect a high number of machines in a very short time. It's
 fully written in java and avoid call external process to increase performances. It
 uses RRD4J, a clone of rrdtool written in java.
 .
 This package provides the Jetty integration files for JRDS.
